<!-- Contact -->
<section id="contact">
    <div class="inner">
        <section>
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="https://space.us18.list-manage.com/subscribe/post?u=34307d7b83a75c6a50b205b79&amp;id=7e93664118" method="post"
                    id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL">订阅网站更新到你的邮箱</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="电子邮箱地址" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_34307d7b83a75c6a50b205b79_7e93664118" tabindex="-1" value="">
                        </div>
                        <br />
                        <div class="clear">
                            <input type="submit" value="订阅" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </div>
                    </div>
                </form>
            </div>
            <!--End mc_embed_signup-->
                </section>
                <section>
                    <div class="contact-method">
                        <span class="icon alt fa-comments"></span>
                        <h3>联系翻墙者</h3>
                        <span>
                        联系邮箱: fqzofficial@protonmail.com<br />
                        投稿邮箱: editorfqz@protonmail.com<br />
                        <font size=1.1pt>注意，国内邮箱非常危险，建议使用 <a href="https://www.guerrillamail.com target="_blank"">guerrillamail</a> 之类的临时邮箱联系</font><br />
                        telegram: <a href="https://t.me/fanqiangguangbo" target="_blank">Channel</a> ; <a href="https://t.me/fanqiangzhe target="_blank"">Group</a>
                        </span>
                    </div>
                </section>
            </section>
        </div>
    </section>

<!-- Footer -->
<footer id="footer">
        <div class="inner">
            <ul class="icons">
                {% if site.twitter_url %}
                <li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                {% endif %}
                {% if site.googleplus_url %}
                <li><a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
                {% endif %}
                {% if site.facebook_url %}
                <li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                {% endif %}
                {% if site.instagram_url %}
                <li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                {% endif %}
                {% if site.pinterest_url %}
                <li><a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
                {% endif %}
                {% if site.500px_url %}
                <li><a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank"><span class="label">500px</span></a></li>
                {% endif %}
                {% if site.gitlab_url %}
                <li><a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
                {% endif %}
                {% if site.github_url %}
                <li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
                {% endif %}
                {% if site.slack_url %}
                <li><a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank"><span class="label">Slack</span></a></li>
                {% endif %}
                {% if site.linkedin_url %}
                <li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
                {% endif %}
            </ul>
            <ul class="copyright">
                <li>　　{{ site.title }} {{ site.subtitle }}</li>
                <!--
                    <li>Design: <a href="https://html5up.net" target="_blank">HTML5 UP</a></li>
                    <li>Jekyll integration: <a href="http://andrewbanchi.ch" target="_blank">Andrew Banchich</a></li>
                -->
            </ul>
        </div>
    </footer>
</div>

<!-- Scripts -->
<script src="{{ site.path }}/assets/js/jquery.min.js"></script>
<script src="{{ site.path }}/assets/js/jquery.scrolly.min.js"></script>
<script src="{{ site.path }}/assets/js/jquery.scrollex.min.js"></script>
<script src="{{ site.path }}/assets/js/skel.min.js"></script>
<script src="{{ site.path }}/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="{{ site.path }}/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="{{ site.path }}/assets/js/main.js"></script>